**Movie Recommendation System Using Python**

In [ ]:
#importing pandas library
import pandas as pd

In [ ]:
#Loading the dataset from the google drive
moviemeta = pd.read_csv('/content/drive/MyDrive/movies.csv', low_memory=False)

In [ ]:
#printing top 4 rows of the dataset
moviemeta.head(4)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19-05-2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",26-10-2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",16-07-2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106

In [ ]:
#printing total no. of rows
moviemeta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [ ]:
#Calculating mean vote
meanvote = moviemeta['vote_average'].mean()
print(meanvote)

6.092171559442016

In [ ]:
#Calculating cutoff value(minimum votes)
minimumvote = moviemeta['vote_count'].quantile(0.90)
print(minimumvote)

1838.4000000000015

In [ ]:
#Filter the movies into another DataFrame
q_movies = moviemeta.copy().loc[moviemeta['vote_count'] >= minimumvote]
q_movies.shape

(481, 20)

In [ ]:
#Computing the weighted average using the formula
def weighted_rating(x, minimumvote=minimumvote, meanvote=meanvote):
    voters = x['vote_count']
    avg_vote = x['vote_average']
    #Calculation based on the IMDB Formula
    return (voters/(voters+minimumvote) * avg_vote) + (minimumvote/(minimumvote+voters) * meanvote)

In [ ]:
#Computing the score with the weighted average in consideration
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [ ]:
#Sort the DataFrame in descending order (to get best movie 1st)
q_movies = q_movies.sort_values('score', ascending=False)

In [ ]:
#Setting Pandas Precision
pd.set_option('precision', 2)

In [ ]:
#Printing top 20 movies (based on score)
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(20)

,title,vote_count,vote_average,score
1881,The Shawshank Redemption,8205,8.5,8.06
662,Fight Club,9413,8.3,7.94
65,The Dark Knight,12002,8.2,7.92
3232,Pulp Fiction,8428,8.3,7.90
96,Inception,13752,8.1,7.86
3337,The Godfather,5893,8.4,7.85
95,Interstellar,10867,8.1,7.81
809,Forrest Gump,7927,8.2,7.80
329,The Lord of the Rings: The Return of the King,8064,8.1,7.73
1990,The Empire Strikes Back,5879,8.2,7.70
262,The Lord of the Rings: The Fellowship of the Ring,8705,8.0,7.67
2912,Star Wars,6624,8.1,7.66
1818,Schindler's List,4329,8.3,7.64
3865,Whiplash,4254,8.3,7.63
330,The Lord of the Rings: The Two Towers,7487,8.0,7.62
1553,Se7en,5765,8.1,7.61
94,Guardians of the Galaxy,9742,7.9,7.61
634,The Matrix,8907,7.9,7.59
2294,Spirited Away,3840,8.3,7.59
77,Inside Out,6560,8.0,7.58